/*Текстовые стили*/
body * {
  box-sizing: border-box;
}

body {
    min-width: 960px;
    font-size: 13px;
    line-height: 1.85em;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 30px;
    line-height: 1.0;
    color: #32425c;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
}

h2 {
    font-size: 30px;
    line-height: 1.0;
    color: #000;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
}

a {
    font-family: "Cuprum", Arial, sans-serif;
}

div[class^="item-"] h2{
    font-size: 24px;
}

.price,
.product .button,
.main-header-top-right a {
    font-size: 17px;
}

div[class^="item-"] span {
    font-size: 14px;
}

.catalogue-products-grid a {
    font-size: 14px;
}

.breadcrumbs a,
.catalogue-pagination a,
.catalogue-section-showcase-controls h3 {
    font-size: 13px;
}

/*Нулевой размер шрифта, для удаления отступов в inline-block*/
.main-menu,
.main-header-top-right,
.user-block,
.popular-brands,
.main-content-promo,
.popular-products,
.breadcrumbs,
.catalogue-products-grid,
.catalogue-pagination,
.footer-logo,
.footer-menu li,
.footer-bottom-social,
.catalogue-section-showcase-controls {
    font-size: 0;
}


/*Стили для <header> и его потомков*/
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header-top {
    width: 100%;
    min-height: 42px;
    background-color: #293449;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-logo {
    position: relative;
    float: left;
    width: 220px;
    height: 42px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ee3643;
}

.header-logo::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #b52933;
}

.header-logo:hover .header-logo::after {
    background-color: #9a212a;
}

.header-logo:active .header-logo::after {
    background-color: #8e1e26;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}

.header-search {
    float: left;
    position: relative;
    width: 270px;
}

.header-search input {
    box-sizing: border-box;
    width: 270px;
    height: 42px;
    padding-left: 48px;
    padding-bottom: 1px;
    background-color: #293449;
    border: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    color: #ffffff;
    outline: none;
}

.header-search input:focus {
    background-color: #ffffff;
    color: #000000;
}

.header-search::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 18px;
    width: 17px;
    height: 17px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -185px -12px;
}

.header-search input:hover {
    background: #212a3a url("../img/sprites/spritesheet.png") no-repeat -38px -67px;
}

.header-search input:focus {
    background: #ffffff url("../img/sprites/spritesheet.png") no-repeat 17px -67px;
}

.main-header-top-right {
    width: 450px;
    min-height: 42px;
    float: right;
}

.main-header-top-right a {
    min-height: 42px;
    width: 150px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.bookmark-link {
    padding: 9px 5px 9px 45px;
    position: relative;
}

.bookmark-link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 14px;
    height: 16px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -218px -12px;
    opacity: 0.3;
}

.cart-link {
    padding: 9px 5px 9px 50px;
    position: relative;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 18px;
    height: 18px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -145px -12px;
    opacity: 0.3;
}

.place-order-link {
    padding: 9px 5px 9px 20px;
    background-color: #63a63e;
}

.place-order-link:hover {
    background-color: #5fbb2d;
}

.place-order-link:active {
    background-color: #518534;
    opacity: 0.51;
}

.cart-link:hover::before,
.bookmark-link:hover::before {
    opacity: 1.0;
}

.cart-link:active,
.bookmark-link:active {
    background-color: #161d29;
    opacity: 0.6;
}

.not-empty {
    background-color: #ee3643;
}

a.not-empty:active {
    opacity: 0.6;
    background-color: #ee3643;
}

.main-header-bottom {
    width: 100%;
    min-height: 278px;
    background-color: #f2f6f8;
    margin-bottom: 59px;
}

.inner-header-bottom {
    margin-bottom: 13px;
}

.main-header-bottom-left {
    width: 300px;
    float: left;
}

.main-header-bottom-left p {
    font-size: 16px;
    line-height: 1.44;
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
    color: #ee3643;
    margin-left: 52px;
    margin-right: 51px;
    margin-top: 49px;
}

.main-header-bottom-middle {
    width: 320px;
    float: left;
}

.company-phone span {
    position: relative;
    display: block;
    width: 270px;
    min-height: 45px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #e9292a;
    margin-top: 47px;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 71px;
    border: 3px solid #ffffff;
}

.company-phone span::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 11px;
    top: 10px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -99px -12px;
}

.company-address span {
    display: block;
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #32425c;
    margin-top: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

.authorization {
    width: 310px;
    float: right;
}

.login-link,
.sign-up-link {
    display: inline-block;
    min-height: 44px;
    vertical-align: top;
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #ffffff;
    margin-top: 45px;
    padding-top: 11px;
    padding-bottom: 10px;
}

.login-link {
    position: relative;
    width: 120px;
    margin-left: 31px;
    padding-left: 46px;
}

.login-link::before {
    content: "";
    display: block;
    position: absolute;
    left: 14px;
    top: 14px;
    width: 20px;
    height: 17px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -13px -11px;
}

.sign-up-link {
    width: 148px;
    margin-left: 7px;
    padding-left: 24px;
}

.login-link:hover,
.sign-up-link:hover {
    color: #ee3643;
}

.login-link:active,
.sign-up-link:active {
    color: #000000;
    opacity: 0.3;
}

.login-link:hover::before {
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -57px -11px;
}

.user-block {
    position: relative;
    float: right;
    width: 300px;
    min-height: 72px;
    margin-top: 46px;
}

.user-block-profile {
    display: inline-block;
    width: 250px;
    min-height: 45px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 47px;
    padding-right: 17px;
    background-color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 0.86;
    text-decoration: none;
    color: #000000;
}

.user-block-profile::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 19px;
    top: 12px;
    left: 14px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -310px -11px;

}

.user-block-profile:hover::after {
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -266px -11px;
}

.user-block-sign-out {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 45px;
    background: #ffffff url("../img/sprites/spritesheet.png") no-repeat -686px -40px;
}
.user-block-profile:active::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 45px;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.7;
    z-index: 10;
}

.user-block-sign-out:active::after {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 45px;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.7;
}

.user-block-sign-out:hover {
    background: #ffffff url("../img/sprites/spritesheet.png") no-repeat -744px -40px;
}



.user-block-orders-link {
    display: inline-block;
    width: 101px;
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 19px;
    padding-right: 5px;
}

.user-block-profile-link {
    display: inline-block;
    width: 187px;
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 18px;
    padding-right: 6px;
    margin-left: 6px;
}

.user-block-orders-link,
.user-block-profile-link {
    vertical-align: top;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
}

.user-block::after {
    content: "";
    position: absolute;
    display: block;
    top: 59px;
    left: 108px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #32425c;
}

.user-block-orders-link:hover,
.user-block-profile-link:hover {
    color: #ee3643;
}

.user-block-orders-link:active,
.user-block-profile-link:active {
    color: #32425c;
    opacity: 0.3;
}

.main-menu {
    padding: 0;
    width: 940px;
    min-height: 55px;
    float: left;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    margin-top: 24px;
}

.main-menu li {
    display: inline-block;
    vertical-align: top;
}

.main-menu ul {
    list-style: none;
    width: 940px;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.main-menu a {
    display: block;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 30px;
    font-size: 17px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.main-menu a:hover,
.main-menu li:first-child:hover a,
.main-menu li:last-child:hover a {
    background-color: #293449;
}

.main-menu a:active,
.main-menu li:first-child:active a,
.main-menu li:last-child:active a {
    background-color: #1d2739;
    opacity: 0.5;
}

.main-menu li:first-child a {
    padding-left: 51px;
    padding-right: 29px;
}

.main-menu li:last-child a {
    padding-right: 50px;
}

/*Стили для "хлебных крошек"*/
.breadcrumbs {
    width: 940px;
    min-height: 30px;
    margin-bottom: 11px;
}

.breadcrumbs ul {
    padding: 0;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-right: 16px;
}

.breadcrumbs li::after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 20px;
    top: 6px;
    left: 2px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -813px -50px;
}

.breadcrumbs li:first-child::after {
    display: none;
}

.breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.breadcrumbs li:first-child {
    padding: 0;
}

.breadcrumbs li:first-child a {
    display: inline-block;
    width: 29px;
    height: 35px;
    text-indent: -10000px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -832px -44px;
}

/*Стили для промо-блока в main*/
.main-content-promo {
    min-height: 408px;
    margin-bottom: 33px;
}

.promo-left {
    width: 620px;
    float: left;

}

.promo-right {
    width: 300px;
    float: right;
}

[class ^="item-"] {
    position: relative;
    display: inline-block;
    width: 300px;
    min-height: 123px;
    vertical-align: top;
    margin-bottom: 20px;
}

[class ^="item-"] h2 {
    width: 165px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 22px;
    margin-top: 21px;
    margin-bottom: 12px;
}

[class ^="item-"] a {
    display: inline-block;
    width: 135px;
    min-height: 38px;
    margin-bottom: 15px;
    margin-left: 25px;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 24px;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

[class ^="item-"] a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

[class ^="item-"] a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

[class ^="item-"]::before {
    content: "";
    display: block;
    position: absolute;
    top: 27px;
    right: 26px;
    width: 78px;
    height: 72px;

}

.new-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 59px;
    top: 0;
    right: 0;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -945px -12px;
}

.item-1 {
    margin-right: 20px;
    background-color: #f6b22d;
}

.item-1::before {
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -337px -8px;
}

.item-2 {
    background-color: #4aafde;
}

.item-2 a {
    padding-left: 26px;
}

.item-2::before {
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -606px -6px;
}

.item-3 {
    background-color: #cc79d1;
}

.item-3 a {
    margin-left: 23px;
    padding-left: 31px;
}

.item-3::before {
    top: 25px;
    right: 31px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -1029px -6px;
}

.item-4 {
    background-color: #85d179;
}

.item-4 a {
    margin-left: 23px;
    padding-left: 23px;
}

.item-4::before {
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -524px -13px;
}

.item-5 {
    background-color: #f6b22d;
}

.item-5 a {
    margin-left: 23px;
    padding-left: 37px;
}

.item-5::before {
    right: 31px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -422px -7px;
}

.slider {
    width: 620px;
    min-height: 266px;
}


/*Стили для раздела "популярные товары" в main*/
.popular-products {
    min-height: 338px;
    margin-bottom: 0;
}

.product {
    position: relative;
    width: 220px;
    height: 318px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.img-wrapper {
    display: flex;
    max-width: 100%;
    height: 174px;
}

.product-img {
    margin: auto;
    max-width: 218px;
    max-height: 174px;
}

.product.new-item::after {
    top: -1px;
    right: -1px;
}

.product p {
    margin-bottom: 12px;
    min-width: 160px;
    min-height: 40px;
    font-size: 18px;
    line-height: 1.15;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0.1em;
}

.product .discount {
    min-height: 20px;
    display: block;
    margin-left: 38px;
    margin-right: 34px;
    margin-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.05;
    color: #999999;
    text-align: center;
    text-decoration: line-through;
}

.product .item-price {
    position: relative;
    width: 122px;
    margin-left: 42px;
    padding-top: 11px;
    padding-left: 16px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.05;
    color: #ffffff;
    text-align: center;
}

.product .item-price::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -37px;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-left-color: #ee3643;

}

.product .item-price:hover::after {
    border-left-color: #ca2c37;
}

.product .item-price:active::after {
    border-left-color: #ba2732;
}

.product .product-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 168px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.product-actions .buy,
.product-actions .bookmark {
    position: relative;
    display: block;
    width: 135px;
    height: 38px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 10px 0;
    border: 3px solid #63a63e;
    border-radius: 3px;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.product-actions .buy::after {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 8px;
    left: 12px;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -145px -12px;
    opacity: 0.3;
}

.product-actions .buy:hover::after,
.product-actions .buy:active::after {
    opacity: 1.0;
}

.product-actions .buy:hover {
    background-color: #5fbb2d;
    border-color: transparent;
    border-bottom-color: #367315;
}

.product-actions .bookmark:hover {
    border-color: #32425c;
}

.product-actions .buy:active::after {
    opacity: 0.3;
}

.product-actions .buy:active {
    background-color: #518534;
    border-bottom-color: transparent;
}

.product-actions .bookmark {
    color: #32425c;
    background-color: #ffffff;
    border-bottom-color: #63a63e;
}



.product-actions .bookmark:active {
    opacity: 0.3;
}

.product .product-actions {
    display: none;
}

.product:hover .product-actions {
    display: block;
}

.product:hover {
    box-shadow: 0 6px 40px -7px rgba(0, 0, 0, 0.5);
}

/*Обнуляем отступы справа в конце продуктовой решётки
на главной и в каталоге*/
.product-index:last-child,
.product-catalogue:nth-child(3n) {
    margin-right: 0;
}

/*Стили для раздела "популярные производители" в main*/
.index-popular-brands h2 {
    float: left;
    max-width: 600px;
    margin-top: 31px;
    margin-left: 24px;
    text-transform: uppercase;
    color: #32425c;
}

.popular-brands {
    min-height: 338px;
    margin-bottom: 78px;
}

.brand {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    min-height: 143px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #e7e7e7;
}

.brand:nth-child(4n) {
    margin-right: 0;
}

.brand-wrapper {
    display: flex;
    margin: auto;
    width: 100%;
    height: 143px;
}

.brand a {
    margin: auto;
}

.brand a:hover {
    box-shadow: 0 6px 40px -7px rgba(0, 0, 0, 0.5);
}

.brand a:active {
    opacity: 0.3;
}

.brand-img {
    vertical-align: middle;
    width: 218px;
    height: 143px;
}



/*Общие стили для разделов
"популярные товары" и "популярные производители"*/
.popular-header {
    width: 940px;
    min-height: 89px;
    background-color: #f7f3ec;
}

.main-popular-products h2 {
    float: left;
    max-width: 600px;
    margin-top: 30px;
    margin-left: 28px;
    text-transform: uppercase;
    color: #32425c;
}

/*Общие стили для кнопок*/
.button {
    display: block;
    min-height: 38px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.popular-header .button {
    float: right;
    width: 253px;
    margin-top: 25px;
    margin-bottom: 23px;
    margin-right: 24px;
    padding-top: 11px;
    padding-bottom: 9px;
}

.popular-header .all-brands-button  {
    margin-top: 26px;
    padding-top: 10px;
}

/*Стили для заголовка текущего раздела каталога*/
.catalogue-section-name {
    min-height: 89px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 29px 28px;
    background-color: #f2f6f8;
    text-transform: uppercase;
}

/*Стили для колонки фильтра по цене,
производителю и типу электропитания*/
.item-filter {
    outline: 1px solid yellow;
    width: 220px;
    min-height: 750px;
    float: left;
}
/*Стили для фильтра товаров в продуктовой решётке*/
.items-filter {
    float: left;
}

.items-filter h3,
.catalogue-section-showcase-controls h3,
.catalogue-product-grid-filter a {
    padding: 10px 19px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
}

.items-filter h3 {
    width: 220px;
    min-height: 38px;
    background-color: #f7f3ec;
    border-radius: 3px;
    margin:0 0 5px 0;
}

.items-filter h2 {
    width: 220px;
    min-height: 41px;
    margin: 0 0 9px 0;
    padding: 7px 5px 5px 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.76;
    font-weight: bold;
    text-transform: uppercase;
}

.product-catalogue {
    margin-top: 0;
}

.catalogue-section-showcase-controls {
    width: 700px;
    min-height: 38px;
    float: right;
    margin-bottom: 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.catalogue-section-showcase-controls h3,
.catalogue-product-grid-filter,
.catalogue-up-down-filter {
    margin: 0 auto;
    float: left;
}

.catalogue-product-grid-filter {
    margin-left: 120px;
}

.catalogue-product-grid-filter li:first-child {
    margin-right: 71px;
}

.catalogue-product-grid-filter li:last-child {
    margin-left: 65px;
}

.catalogue-product-grid-filter  a {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 1px dotted #ee3643;
    text-decoration: none;
    opacity: 0.3;
}

.catalogue-product-grid-filter  a:hover {
    opacity: 1.0;
    border-bottom-style: solid;
}

.catalogue-section-showcase-controls ul {
    padding: 0;
}

.catalogue-product-grid-filter {
    width: 355px;
}

.catalogue-product-grid-filter li,
.catalogue-up-down-filter li,
.catalogue-product-grid-filter a {
    display: inline-block;
    vertical-align: top;
}

a.active-option {
   color: #ee3643;
    opacity: 1.0;
}

/*Сортировка каталога вверх-вниз*/
.catalogue-up-down-filter {
    width: 105px;
    position: relative;
}

.filter-up,
.filter-down {

}

.filter-up::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 6px;
    left: 47px;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.filter-down::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 14px;
    left: 79px;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.filter-up::before {
    border-bottom-color: #c6c2bd;
}

.filter-down::after {
    border-top-color: #c6c2bd;
}

.filter-up:hover::before {
    border-bottom-color: #010101;
}

.filter-down:hover::after {
    border-top-color: #010101;
}

.active-sorting::before {
    border-bottom-color: #ee3643;
    opacity: 1.0;
}

.active-sorting::after {
    border-top-color: #ee3643;
    opacity: 1.0;
}

/*Стили для фильтра по цене*/
.price-filter {
    width: 220px;
    height: 127px;
    margin-bottom: 25px;
}

.price-filter-range-controls {
    position: relative;
    width: 220px;
    height: 80px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    background-color: #f7f3ec;
}

.price-filter-range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.price-filter-range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #00ca74;
}

.price-filter-range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    box-sizing: content-box;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.price-filter-range-controls .toggle-min {
    left: 20px;
}

.price-filter-range-controls .toggle-max {
    left: 160px;
}

.price-filter-price-controls label {
    font-size: 0;
}

.price-filter-price-controls input {
    display: inline-block;
    vertical-align: middle;
    width: 94px;
    height: 38px;
    padding: 2px 5px 4px 5px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.06;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #f7f3ec;
}

.price-filter-price-controls .min-price {
    margin-left: 2px;
    margin-right: 30px;
}

/*Стили для фильтра по производителям*/
.manufacturer-filter {
    width: 220px;
    height: 263px;
    border-top: 1px solid #e5e5e5;
}

.manufacturer-filter h2 {
    padding: 17px 5px 3px 0;
    margin-bottom: 10px;
}

.manufacturer-filter ul {
    list-style: none;
    margin: 0;
    padding-left:0;
}

.manufacturer-filter li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 34px;
    cursor: pointer;
}

.manufacturer-filter-checkbox {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
    cursor: pointer;
}

.manufacturer-filter-checkbox input[type="checkbox"] {
    display: none;
}

.checkbox-indicator {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -874px -48px;
}

.checkbox-indicator:hover {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -266px -44px;
}

.manufacturer-filter-checkbox input[type="checkbox"]:disabled +.checkbox-indicator {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -266px -44px;
    opacity: 0.3;
}

.manufacturer-filter-checkbox input[type="checkbox"]:checked +.checkbox-indicator {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -909px -48px;
}

.manufacturer-filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator:hover {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 0;
    left: 0;
    background: transparent url("../img/sprites/spritesheet.png") no-repeat -301px -44px;
}
/*Стили для фильтра по типу питания*/
.power-supply-filter {
    width: 220px;
    min-height: 184px;
    margin-bottom: 0;
    border-top: 1px solid #e5e5e5;
}

.power-supply-filter h2 {
    padding: 18px 5px 3px 0;
    margin-bottom: 9px;
}

.power-supply-filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.power-supply-filter li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 34px;
    cursor: pointer;
}

.power-filter-radio {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    cursor: pointer;
}

.power-filter-radio input[type="radio"] {
    display: none;
}

/*Стили для продуктовой решётки с фильтрами*/
.catalogue-section-showcase {
    margin-bottom: 60px;
}

.radio-indicator {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1px;
    left: -1px;
    border: 3px solid #c1c1c1;
    border-radius: 50%;
}

.radio-indicator:hover {
    border-color: #b5b5b5;
}

.power-filter-radio input[type="radio"]:disabled +.radio-indicator {
    opacity: 0.3;
}

.power-filter-radio input[type="radio"]:checked +.radio-indicator::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 5px;
    background-color: #c1c1c1;
    border-radius: 50%;
}

.power-filter-radio input[type="radio"]:checked:hover +.radio-indicator::after {
    background-color: #b5b5b5;
}

.power-filter-radio input[type="radio"]:checked:disabled +.radio-indicator,
.power-filter-radio input[type="radio"]:checked:disabled +.radio-indicator::after {
    opacity: 0.3;
}

/*Стили для кнопок каталога*/
.catalogue-btn {
    display: inline-block;
    width: 140px;
    min-height: 38px;
    margin: 0;
    padding: 5px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.items-filter .catalogue-btn {
    padding: 10px 9px 9px;
}

/*Общие стили для состояний кнопок каталога*/
.catalogue-btn:hover {
    border-color: #bdc6ca;
}
.catalogue-btn:active {
    border-color: #ee3643;
}

/*Пагинатор продуктовой решётки*/
.catalogue-pagination {
    min-width: 285px;
    padding: 0;
    min-height: 40px;
    float: left;
    margin-top: 32px;
}

.catalogue-pagination ul {
    list-style: none;
}

.catalogue-pagination li {
    display: inline-block;
    vertical-align: middle;
}

.pagination-btn,
.next-btn {
    text-align: center;
    padding: 9px;
}

.pagination-btn {
    width: 38px;
    margin-right: 10px;
}

.pagination-active-btn {
    color: #ffffff;
    background-color: #ee3643;
}

/*Стили для раздела "сервисы" в main*/
.services {
    width: 100%;
    min-height: 520px;
    margin-bottom: 52px;
    background-color: #f2f6f8;
}

.services-head h2 {
    padding-top: 68px;
    line-height: 0.8;
    text-transform: uppercase;
}

.services-head p {
    width: 410px;
    min-height: 55px;
    margin-bottom: 65px;
    line-height: 1.9;
    padding-top: 4px;
    padding-right: 10px;
}

.services-menu {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    min-height: 183px;
    position: relative;
}

.services-menu a {
    display: block;
    width: 240px;
    min-height: 61px;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 16px;
    border-top: 1px solid #3c4c63;
    border-bottom: 1px solid #293449;
    background-color: #2f3e57;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 1.43;
    color: #ffffff;
}

.services-menu .active,
.services-menu .active:hover {
    background-color: #ffffff;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    color: #32425c;
}

.services-menu .active:hover {

}

.services-menu a:hover {
    background-color: #293449;
    color: #ffffff;
    border-top-color: #3c4c63;
    border-bottom-color: #293449;
}

.services-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    min-height: 272px;
    top: -44px;
    right: 0;
    background: transparent url("../img/menu-decoration.png") no-repeat;
}

.delivery {
    float: right;
    min-height: 285px;
    margin-top: 0;
    width: 620px;
    background: transparent url("../img/truck.png") no-repeat 151px 24px;
}

.delivery h2 {
    margin-top: 0;
    padding-top: 5px;
    padding-left: 1px;
    font-size: 36px;
    line-height: 0.66;
    text-transform: uppercase;
    color: #32425c;
}

.delivery p {
    width: 275px;
    padding-top: 2px;
    margin-top: 0;
}

/*Информация о компании + контакты*/
.company-info {
    margin-bottom: 34px;
    min-height: 450px;
}

.company-info-about {
    width: 620px;
    float: left;
}

.company-info-about h2 {
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: normal;
    text-transform: uppercase;
}

.company-info-about p {
    width: 535px;
    letter-spacing: 0.01em;
}

.company-info-about p + p {
    margin-top: 24px;
}

.company-info-about ul {
    list-style: none;
    margin-bottom: 24px;
    padding-left: 0;
}

.company-info-about li {
    position: relative;
    width: 180px;
    min-height: 40px;
    padding-top: 7px;
    padding-left: 36px;
    box-sizing: border-box;
}

.company-info-about span {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.11;
}

.company-info-about li::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 17px;
    left: 0;
    background-color: #fb565a;
}

.company-info-about .button {
    width: 220px;
    padding-top: 11px;
}

.company-info-contacts {
    width: 300px;
    float: right;
}

.company-info-contacts h2{
    margin-top: 30px;
    line-height: 0.8;
    text-transform: uppercase;
}

.company-info-contacts p {
    margin-top: 29px;
}

.company-info-contacts img {
    margin-top: 18px;
    margin-bottom: 32px;
}

.company-info-contacts .button {
    padding-top: 11px;
    padding-left: 6px;
}

/*Стили для footer*/
.footer-top {
    width: 100%;
    min-height: 193px;
    background-color: #32425c;
}

.footer-logo {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    min-height: 68px;
    box-sizing: border-box;
    padding-top: 21px;
    padding-left: 41px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    margin-top: 38px;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 32px;
    padding-right: 24px;
}

.footer-menu li:first-child {
    padding-left: 0;
    padding-right: 24px;
}

.footer-menu li:last-child {
    padding-left: 30px;
    padding-right: 0;
}

.footer-menu a {
    text-decoration: none;
    color: #f1f5f7;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.33;
}

.address-and-phone {
    float: left;
    width: 330px;
    margin-top: 10px;
    margin-left: 3px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.34;
    color: #f1f5f7;
}

.footer-catalogue-menu {
    float: right;
    margin-top: 0;
}

.footer-catalogue-menu ul {
    padding: 0;
}

.footer-catalogue-menu li {
    display: inline-block;
    padding-top: 3px;
    padding-left: 35px;
    padding-right: 20px;
}

.footer-catalogue-menu li:first-child {
    padding-left: 32px;
    padding-right: 23px;
}

.footer-catalogue-menu li:last-child {
    padding-right: 0;
}

.footer-catalogue-menu a {
    text-decoration: none;
    color: #ffd180;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.33;
}
.footer-menu a:hover,
.footer-catalogue-menu a:hover {
    text-decoration: underline;
}

.footer-menu a:active,
.footer-catalogue-menu a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-top li {
    display: inline-block;
}

.footer-bottom {
    width: 100%;
    min-height: 107px;
    background-color: #293449;
}

.footer-bottom-left {
    width: 320px;
    margin-right: 60px;
    padding-top: 21px;
    padding-left: 1px;
    float: left;
}

.footer-bottom-left p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    color: #ffffff;
}

.footer-bottom-social {
    min-width: 132px;
    min-height: 48px;
    margin-right: 60px;
    margin-top: 34px;
    margin-left: 3px;
    float: left;
}

.social-btn {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 42px;
    height: 42px;
    margin-left: 5px;
    border-radius: 50%;
    background: #212a3a url("../img/sprites/spritesheet.png") no-repeat;
}

.social-btn:hover,
.social-btn:active {
    background-color: #ee3643;
}

.social-btn-vk {
    background-position: -890px 5px;
}

.social-btn-fb {
    background-position: -770px 0;
}

.social-btn-inst {
    margin-left: 3px;
    background-position: -807px 1px;
}

.footer-bottom-right {
    width: 320px;
    float: right;
}

.footer-bottom-right p,
.footer-bottom-right a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    color: #ffffff;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom a:active {
    color: #ee3643;
}

.footer-bottom-right p {
    width: 150px;
    box-sizing: border-box;
}

.contact-mail {
    float: left;
    padding-top: 21px;
    padding-left: 21px;
}

.developed-by {
    float: right;
    padding-top: 21px;
    padding-left: 39px;
}


.footer-bottom-right a {
    color: #ffd180;
    text-decoration: none;
}

/*Стили для модальных окон*/
.write-us,
.cart-plus {
    display: none;
}


/*Стили для продуктовой решётки*/
.catalogue-products-grid {
    width: 700px;
    min-height: 1084px;
    float: right;
}



/*Стили для раздела "пара слов о перфораторах"*/
.about-product {
    width: 100%;
    min-height: 259px;
    background-color: #f2f6f8;
}

.about-product p {
    margin-bottom: 0;
    font-size: 13px;
}

.about-product h2 {
    padding-top: 62px;
}

