/*Текстовые стили*/

body {
    font-size: 13px;
    line-height: 1.8em;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
}

h2 {
    font-size: 30px;
    line-height: normal;
    color: #000;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
}

div[class^="item-"] h2{
    font-size: 24px;
}

.product p {
    font-size: 18px;
}

.price,
.product .button {
    font-size: 17px;
}

div[class^="item-"] a,
div[class^="item-"] span {
    font-size: 14px;
}

.catalogue-products-grid a {
    font-size: 14px;
}

.breadcrumbs a,
.catalogue-pagination a,
.catalogue-section-showcase-controls h3,
.catalogue-section-showcase-controls a {
    font-size: 13px;
}



/*Нулевой размер шрифта, для удаления отступов в inline-block*/
.popular-brands,
.main-content-catalogue,
.popular-products,
.breadcrumbs,
.catalogue-products-grid,
.catalogue-pagination,
.catalogue-section-showcase-controls {
    font-size: 0;
}


/*Стили для <header> и его потомков*/
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    outline: 1px solid red;
}

.main-header {
    outline: 1px solid green;
    width: 940px;
    min-height: 320px;
    /*background-color: #f1f5f7;*/
    /*margin-bottom: 60px;*/
}

.main-header-top {
    outline: 1px solid yellow;
    min-height: 42px;
    margin-bottom: 10px;
    /*background-color: #293449;*/
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-logo {
    width: 110px;
    height: 17px;
    outline: 1px solid yellow;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    float: left;
}


.header-search {
    outline: 1px solid yellow;
    width: 250px;
    float: left;
    /*border-bottom: 5px solid #f1f5f7;*/
}



.main-header-top-right {
    outline: 1px solid yellow;
    width: 470px;
    float: right;
    /*border-bottom: 5px solid #f1f5f7;*/
}

.main-header-bottom {
    outline: 1px solid yellow;
    width: 940px;
    min-height: 130px;

}

.main-header-bottom-left {
    outline: 1px solid yellow;
    width: 310px;
    float: left;
}


.main-header-bottom-middle {
    outline: 1px solid yellow;
    width: 320px;
    float: left;
}

.authorization {
    outline: 1px solid yellow;
    width: 310px;
    float: right;
}

.main-menu {
    outline: 1px solid yellow;
    width: 940px;
    min-height: 55px;
}

.main-menu li {
    display: inline-block;
}

/*Стили для main и его потомков*/
.catalogue-left,
.catalogue-right {
    outline: 1px solid green;
}

/*Стили для каталога в main*/
.main-content-catalogue {
    outline: 1px solid green;
    min-height: 408px;
    margin-top: 60px;
    margin-bottom: 55px;
}

.catalogue-left {
    outline: 1px solid yellow;
    width: 620px;
    float: left;

}

.catalogue-right {
    outline: 1px solid yellow;
    width: 300px;
    float: right;
}

[class ^="item-" ] {
    display: inline-block;
}

/*Стили для раздела "популярные товары" в main*/
.main-content-popular-products {
    outline: 1px solid green;
    height: 424px;
    margin-bottom: 25px;
}

.product {
    display: inline-block;
}


/*Стили для раздела "популярные производители" в main*/
.main-content-popular-brands {
    outline: 1px solid green;
    min-height: 415px;
    margin-bottom: 87px;
}

.brand {
    display: inline-block;
}

/*Общие стили для разделов
"популярные товары" и "популярные производители"*/
.popular-header h2 {
    margin-bottom: 47px;
    float: left;
}

.popular-header a {
    float: right;
}

/*Стили для раздела "сервисы" в main*/
.services {
    outline: 1px solid green;
    min-height: 520px;
    margin-bottom: 25px;
}

.services img {
    float: right;
}

/*Информация о компании + контакты*/
.company-info {
    outline: 1px solid green;
    margin-bottom: 62px;
    min-height: 450px;
}

.company-info-about {
    outline: 1px solid yellow;
    width: 620px;
    float: left;
}

.company-info-contacts {
    outline: 1px solid yellow;
    width: 300px;
    float: right;
}

/*Стили для footer*/
.footer-top {
    outline: 1px solid green;
    min-height: 75px;
    margin-bottom: 19px;
}

.footer-top li {
    display: inline-block;
}

.footer-middle {
    outline: 1px solid green;
    min-height: 75px;
    margin-bottom: 19px;
}

.footer-middle li {
    display: inline-block;
}

.footer-bottom {
    outline: 1px solid green;
}

.footer-bottom-left {
    outline: 1px solid yellow;
    width: 320px;
    margin-right: 60px;
    float: left;
}

.footer-bottom-middle {
    outline: 1px solid yellow;
    width: 180px;
    margin-right: 60px;
    float: left;
}

.footer-bottom-right {
    outline: 1px solid yellow;
    width: 320px;
    float: right;
}

/*Стили для модальных окон*/
.write-us,
.cart-plus {
    display: none;
}

/*Стили для страницы каталога*/
.breadcrumbs {
    outline: 1px solid green;
    margin-top: 13px;
    margin-bottom: 19px;
}

.breadcrumbs li {
    display: inline-block;
}

/*Стили для заголовка текущего раздела каталога*/
.catalogue-section-name {
    outline: 1px solid green;
    min-height: 87px;
}

/*Стили для продуктовой решётки с фильтрами*/
.catalogue-section-showcase {
    outline: 1px solid green;
    margin-bottom: 60px;
}


/*Стили для колонки фильтра по цене,
производителю и типу электропитания*/
.item-filter {
    outline: 1px solid yellow;
    width: 220px;
    min-height: 750px;
    float: left;
}

/*Стили для фильтра товаров в продуктовой решётке*/
.catalogue-section-showcase-controls {
    outline: 1px solid yellow;
    width: 700px;
    min-height: 38px;
    float: right;
    margin-bottom: 20px;
}

.catalogue-section-showcase-controls h3,
.catalogue-product-grid-filter,
.catalogue-up-down-filter {
    outline: 1px solid violet;
    margin: 0 auto;
    float: left;
}

.catalogue-product-grid-filter li,
.catalogue-up-down-filter li {
    display: inline-block;
}

/*Стили для продуктовой решётки*/
.catalogue-products-grid {
    outline: 1px solid yellow;
    width: 700px;
    min-height: 1084px;
    float: right;
}

.product {
    outline: 1px solid navy;
    width: 220px;
    height: 317px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-index:last-child,
.product-catalogue:nth-child(3n) {
    margin-right: 0;
}


/*Пагинатор продуктовой решётки*/
.catalogue-pagination {
    outline: 1px solid yellow;
    float: left;
    margin-top: 45px;
}

.catalogue-pagination li {
    display: inline-block;
}

/*Стили для раздела "пара слов о перфораторах"*/
.about-product {
    outline: 1px solid red;
    min-height: 240px;
    margin-bottom: 21px;
}

/*Стили для "широкого" фона*/
/*для хедера*/
.main-header-top:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: #293449;
    z-index: -1;
}

.main-header-bottom:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 280px;
    background-color: #f2f6f8;
    z-index: -2;
}

/*Для футера*/
.footer-top:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 196px;
    background-color: #32425c;
    z-index: -1;
}

.footer-bottom:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 93px;
    background-color: #293449;
    z-index: -1;
}

/*Для каталога*/
.about-product:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 280px;
    background-color: #f2f6f8;
    z-index: -1;
}
/*Для главной*/
.services:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 520px;
    background-color: #f2f6f8;
    z-index: -1;
}